VNGameKit/Config/DefaultEngine.ini
VNGameKit/Binaries/
VNGameKit/DerivedDataCache/
VNGameKit/Intermediate/
VNGameKit/Saved/
VNGameKit/.vs/
VNGameKit/.vscode/
VNGameKit/Mods/*
!VNGameKit/Mods/ここにシナリオフォルダを入れる.txt
VNGameKit/Build/Windows/FileOpenOrder/CookerOpenOrder.log
VNGameKit/Build/Windows/FileOpenOrder/EditorOpenOrder.log
